<input type="number" [(ngModel)]="sizeX" [min]="1" [max]="26" />
<input type="number" [(ngModel)]="sizeY" [min]="1" [max]="26" />
<button (click)="increment(-1)">-</button>
<button (click)="increment(1)">+</button>
<br /><br />

<table>
  <tr *ngFor="let w of [].constructor(sizeY + 1); let i = index">
    <td *ngFor="let h of [].constructor(sizeX + 1); let j = index">
      <ng-container *ngIf="i === 0 && j === 0"></ng-container>
      <ng-container *ngIf="i === 0 && j !== 0">
        <strong>{{ alphabet[j - 1] }}</strong>
      </ng-container>
      <ng-container *ngIf="i !== 0 && j === 0">
        <strong>{{ i }}</strong>
      </ng-container>
      <ng-container *ngIf="i !== 0 && j !== 0"
        ><app-grid-cell
          [width]="60 - sizeX"
          [height]="60 - sizeX"
        ></app-grid-cell
      ></ng-container>
    </td>
  </tr>
</table>

<br />
<app-grid-legend></app-grid-legend>
